<% content_for :title do %>
  <%= current_user.firstname %>'s Courses
<% end %>



<h2>
	<%= current_user.firstname %>'s Registered Courses
</h2>

<hr>

	<% if current_user.courses.count == 0 %>
		
		You have not added any courses. Please add atleast 5 courses using the table below in order view course enrollment. 

	<% else %>
		<%= render "courses/shared/my_courses_table"%>
	<% end %>

<hr>

<br/>
<br/>

<!-- add new courses -->

<h2>
	Add New Courses
</h2>

<a href='http://beech.hbs.edu/preregAddDrop/student/' target='_blank' title='Takes you to your HBS EC classes page so you can select them below'>
	View your registered HBS EC courses 
</a>

<br/>

Please click the checkbox next to each course you are registered for. Then press the 'Add selected course button'. Be sure to choose the right section.



<br/>
Hint: Use the search box on the right to easily find your courses. 

<hr>
<%= render "courses/shared/user_action_all_courses_table"%>



